html, body {
  background:rgba(0,0,0,0.8);
  color:white;
  overflow:hidden;
}
#preview {
  background:rgba(0,0,0,0.1);
  position:absolute;
  top:1px;
  left:1px;
  border:1px solid white;
}
#element-chooser {
  background:rgba(0,0,0,0.3);
  border:1px solid white;
  position:absolute;
  overflow-x:hidden'
  overflow-y:scroll;
}
#element-head {
  background:rgba(0,0,0,0.5);
  position:absolute;
  border:1px solid white;
  text-align:center;
  font-size:4vh;
  top:1px;
}
#html-tree {
  background:rgba(0,0,0,0.3);
  border:1px solid white;
  position:absolute;
}
#html-tree-head {
  background:rgba(0,0,0,0.5);
  position:absolute;
  border:1px solid white;
  text-align:center;
  font-size:4vh;
}
.treebutton {
  position:absolute;
  text-align:center;
  color:blue;
  font-size:2vh;
}
.treebutton :hover {
  color:white;
  cursor:pointer;
}
.treebutton span {
  color:green;
  font-size:2.5vh;
}
#addup {
  right:1vh;
  top:0.6vh;
}
#adddown {
  right:5vh;
  top:1.5vh;
}
#addin {
  right:9vh;
  top:1vh;
}
#delete {
  top: 1vh;
  left: 1vh;
}
#attribute-editor {
  background:rgba(0,0,0,0.3);
  border:1px solid white;
  position:absolute;
}
#attribute-head{
  background:rgba(0,0,0,0.5);
  position:absolute;
  border:1px solid white;
  text-align: center;
  font-size:4vh;
}
td {
  /*border:1px solid teal;*/
  background:black;
}
tr :hover {
  color: green;
  background:white;
}
.selected {
  color:orange;
}
